{
  "bracketSpacing": false,
  "printWidth": 110,
  "semi": false,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderSeparation": true,
  "plugins": ["prettier-plugin-sql", "@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.sql",
      "options": {
        "parser": "sql",
        "language": "postgresql"
      }
    }
  ]
}
